<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="head :: head('hello admin')"></head>
<body>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" th:fragment="sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/webjars/adminlte/2.3.5/dist/img/user2-160x160.jpg}" class="img-circle"
                     alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p sec:authentication="name"></p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="搜索..."/>
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                        class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a th:href="@{/reports}"><i class="fa fa-link"></i> <span>报表</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>机器管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/my-coffee-maker}">我的咖啡机</a></li>
                        <li><a th:href="@{/binding}">咖啡机绑定</a></li>
                        <li><a th:href="@{/coffee-type}">咖啡种类</a></li>
                    </ul>
                </a>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>用户中心</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/account-manage}">账号管理</a></li>
                    </ul>
                </a>
            </li>
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/webjars/adminlte/2.3.5/dist/js/app.min.js}"></script>
</body>
</html>