<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="head :: head('hello admin')"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" th:fragment="wrapper">

    <header th:replace="header :: header"></header>
    <aside th:replace="sidebar :: sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section th:replace="content-header :: contentHeader"></section>

        <!-- Main content -->
        <section class="content" th:replace="content-table :: page-content-table"></section>
    </div><!-- /.content-wrapper -->

    <footer th:replace="footer :: copyright"></footer>

    <aside th:replace="sidebar-controller :: sidebarController"></aside>
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<!-- Bootstrap 3.3.5 -->
<script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/webjars/adminlte/2.3.5/dist/js/app.min.js}"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
<!-- Bootstrap Table 1.11.0 -->
<script th:src="@{/webjars/bootstrap-table/1.11.0/bootstrap-table.min.js}"></script>
<script th:src="@{/webjars/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js}"></script>
</body>
</html>
